/*============================================================
  Main
  ============================================================*/
body {
  background: url('../images/background-sandy-tile.jpg') repeat #000;//666//59a99c;
}

#wrapper {
  background: url('../images/paper-texture.png') repeat #e0f9b1;
}

#header {
  background: #7682a6;
  color: #FFF;//#e0f9b1;
}

#footer {
  background: #7682a6;
  color: #e0f9b1;
}

#main {
  background: url('../images/paper-texture.png') repeat #e0f9b1;
}

#content {
  background: url('../images/paper-texture.png') repeat #e0f9b1;
}

.popup_form {
  background: #fff;
}

/*============================================================
  Menu
  ============================================================*/

.bar {
}

.longbar {
  background: #76a682;
}

ul.navigation li {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}

ul.navigation li:hover {
  color: #fff;
  font-style: italic;
}

ul.navigation li:active {
  color: #fff;
}

ul.navigation li:visited {
}

#lownav {
}

ul.navigation li.main {
  background: #7682a6;
}

/*============================================================
  Table
  ============================================================*/
.schedule {
}

.schedule .empty {
  background: transparent;
}

.sched_day {
  background: #7682a6;
}

.sched_month {
  background: #7682a6;
}

.sched_date {
  background: #eee;
}

.sched_pos{
  background: #76a682;
}

.sched_emp{
  background: #ccd;
}

.sched_emp_name{
  background: #ccd;
}

.sched_time {
}

.sched_time:hover {
  background: #7682a6;
}


/* ======================================================
   Genral view styling
   ======================================================*/
h2.view_title {
  font-family: sans-serif;
  border-bottom: solid 2px #76a682;
}

h2.form_title {
  font-family: sans-serif;
  background: #76a682;
  padding: 0.33em;
}


/* ======================================================
   Employee info styling
   ======================================================*/


#view_employee_emp_contact_info {
  background: #76a682;
}

#view_employee_emp_stats {
}

#view_employee_emp_pos_info {
}

#view_employee_emp_sched_limits {
  background: #76a682;
}

div.form {
  border: solid 1px #000;
  background: url('../images/paper-texture.png') repeat #e0f9b1;
}

.form fieldset {
  border: solid 1px #000;
  margin: 0.66em;
}

h2.form {
  border: none;
  color: #e0f9b1;
  background: #7682a6;
}

input {
  border: 1px solid #000;
}

.button {
  background: #7682a6;
  color: #fff;
  border: 1px solid #000;
}

