/*============================================================
  Main
  ============================================================*/
body {
  background: url('../images/background.jpg') #000;//666//59a99c;
}

#wrapper {
  background: #f4eccb;
}

#header {
  background: #3a2916;
  color: #f4eccb;
}

#footer {
  background: #3a2916;
  color: #f4eccb;
}

#main {
  background: #f4eccb;
}

#content {
  background: #f4eccb;
}

.popup_form {
  background: #fff;
}

/*============================================================
  Menu
  ============================================================*/

.bar {
}

.longbar {
  background: #a37744;
}

ul.navigation li {
  color: #f4eccb;
  text-decoration: none;
}

ul.navigation li:hover {
  color: #f4eccb;
  font-style: italic;
}

ul.navigation li:active {
  color: #fff;
}

ul.navigation li:visited {
}

#lownav {
}

ul.navigation li.main {
  background: #523a1f;
}

/*============================================================
  Table
  ============================================================*/
.schedule {
}

.schedule .empty {
  background: transparent;
}

.sched_day {
  background: #ccd;
}

.sched_month {
  background: #ccd;
}

.sched_date {
  background: #eee;
}

.sched_pos{
  background: #ddf;
}

.sched_emp{
  background: #cfc;
}

.sched_emp_name{
  background: #afa;
}

.sched_time {
}


/* ======================================================
   Employee info styling
   ======================================================*/


#emp_contact_info {
  background: #a37744;
}

#emp_stats {
  background: #f4eccb;
}

#emp_pos_info {
  background: #f4eccb;
}

#emp_sched_limits {
  background: #a37744;
}



.form {
  border: solid 1px #000;
  background: #f4eccb;
}

h2.form {
  border: none;
  color: #f4eccb;
  background: #3a2916;
}

input {
  border: 1px solid #000;
}

.button {
  background: #523a1f;
  color: #f4eccb;
  border: 1px solid #000;
}

