/*=====================================================
  General site layout
  ---------------------------------


  =====================================================*/

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

#wrapper {
  margin: 0 auto;
  width: 85%;
}

#header {
  padding: 1%;
}

#main {
  margin:0;
  padding:0;
}

#content {
  margin: 0em;
  padding: 0em;
  min-height: 40em;
}

.page {
  display: block;
  margin: 0 1% 0 23.5%;
}

.view {
  display: block;
  margin: 0 1.5% 0 22%;
}

#footer {
  padding: 1%;
}

.foot {
  display: block;
}

/*============================================================
  Menu Layout
  ============================================================*/

.bar {
  padding: 0em 0.66%;
}

#leftbar {
  float: left;
  margin: 0 1% 0 0;
  width: 20%;
  overflow: hidden;
  font-size: 120%;
}

#lownav {
}

ul.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.navigation li.main {
  padding: 0.6em;
  margin: 0.6em 0%;
  text-align: center;
}

ul.navigation li.minor {
  padding: 0%;
  margin: 0.6% 0%;
}

.opt{
  font-weight: bold;
}

.longbar {
  padding: 0.33%;
  margin: 0%;
  overflow: hidden;
  font-size: 120%;
}

.longbar form.nav {
  padding: 0.66em;
  margin: 0.6% 0%;
  display: inline;
}

.longbar form.navigation input{
  display: inline;
}

.selected {
  font-style: italic;
}

/*============================================================
  Table Layout
  ============================================================*/
.schedule {
  font-size: 120%;
}

table.schedule {
  margin: 0 auto;
  width: 100%;
}

.schedule td {
  padding: 0 0.33%;
}

.sched_day {
}

.sched_month {
  text-align: center;
}

.sched_date {
}

.sched_pos{
  text-align: left;
}

.sched_emp{
}

.sched_emp_name{
  text-align: right;
}

.sched_time {
}

.wide {
  width: 15%;
}

.sched {
  width: 12.0%;
  text-align: center;
}

/*============================================================
  Employee Stats Layout
  ============================================================*/
##view_employee_employee {
  margin: 1% 0%;
}

#view_employee_employee div {
  padding: 1%;
  margin: 0%;
  height: 18em;
}

#view_employee_employee div dl {
}

#view_employee_employee div dl dd {
  font-size: 150%;
  line-height: 75%;
  margin: 0%;
  padding-bottom: 0.33em;
  text-indent: 0%;
  text-align: center;
}

#view_employee_employee div dl dt {
  text-transform: uppercase;
  text-align: center;
}

#view_employee_emp_contact_info {
  width: 48%;
  float: left;
}

#view_employee_emp_stats {
  width: 48%;
  margin-left: 50% !important;
}

#view_employee_emp_pos_info {
  width: 48%;
  float: left;
}

#view_employee_emp_sched_limits {
  width: 48%;
  margin-left: 50% !important;
}

/* ===========================================================
   Form CSS styles
   ===========================================================*/
.form {
  padding: 1em;
}

div.form {
  position: absolute;
  top: 0;
  width: 60%;
  height: auto;
}

div.ul {
  width: 100%;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}

ul.form {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.form li {
  width: 28.66%;
  float: left;
  padding: 0 2em 0 0;
  margin: 0;
  //text-align: center;
}

.button {
  margin-right: 2em;
}

input {
  margin: 0.33em 0em;
}

ul.form input {
  width: 100%;
}

legend {
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

label {
  display: block;
  letter-spacing: 0.2em;
  line-height: 0.4em;
  font-family: sans-serif;
  font: "Heveltica", "Garamond", "Arial";
  //text-transform: uppercase;
}

#form_edit_employee_emp_name_mid{
  width: 4em;
}




